<!-- Begin Container -->
<div class="box">
	<center><h1 class = "title">SHOW YOUR INNER CRAAAAAZY SELF</h1></center>
	<form method = "post">
    <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor
    <script>
                CKEDITOR.replace( 'editor1' );
    </script>
	<input class="button" type="button" name="createIdea" value = "HAHA! I AM DONE." />
	</form>
</div>
<!-- End Container -->

